@font-face {
    font-family: "Helvetica neue";
    src: url('../fonts/helveticaneue-thin-webfont.eot');
    src: url('../fonts/helveticaneue-thin-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/helveticaneue-thin-webfont.woff2') format('woff2'),
         url('../fonts/helveticaneue-thin-webfont.woff') format('woff'),
         url('../fonts/helveticaneue-thin-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
.container {
  font-family: "Helvetica neue", Arial, sans-serif;
  height: 100vh;
  line-height: 100vh;
  min-width: 800px;
  width: 100%;
}
/*clearfix*/
.clearfix:after {
  clear: both;
  content: '';
  display: block;
}
/*Header*/
header {
  background-color: #085698;
  height: 36px;
  width: 100%;
}
.menu,
.left-menu,
.right-menu {
  display: inline-block;
  font-size: 14px;
  line-height: 36px;
} 
.menu {
  float: right;
  padding-right: 20px;
}
.left-menu {
  position: relative;
}
.left-menu > li {
  display: inline-block;
  line-height: 36px;
  text-align: center;
  width: 70px;
}
.left-menu > li:first-child {
  width: 95px;
}
.left-menu > li > a {
  color: #60b5ed;
  text-decoration: none;
}
.left-menu li:hover {
  background-color: #4eabda;
}
.left-menu li:hover a {
  color: white;
}
.left-menu::after {
  color:#60b5ed;
  content: url(../img/line.png);
  position: absolute;
  right: -2px;
  top: 2px;
}
.right-menu li {
  color: #fff;
  display: inline-block;  
  border-left: 1px solid transparent;
  border-right: 1px solid transparent;
  border-bottom: 1px solid transparent;
  height: 35px;
  text-align: center; 
}
.right-menu li:first-child {
  width: 170px;
}
.right-menu li:first-child a {
  color: #fefefe;
  text-decoration: none;
}
.right-menu li:hover {
  background: linear-gradient(to top, #52b1dd, #2e7ac4);
  border-bottom: 1px solid #4299d2;
  border-left: 1px solid #4299d2;
  border-right: 1px solid #4299d2;
}
.right-menu li:last-child {
  background: linear-gradient(to top, #52b1dd, #2e7ac4);
  border-bottom: 1px solid #4299d2;
  border-left: 1px solid #4299d2;
  border-right: 1px solid #4299d2; 
  width: 191px;
}
.right-menu li:hover {
  background: linear-gradient(to top, #52b1dd, #2e7ac4);
  border-bottom: 1px solid #4299d2;
  border-left: 1px solid #4299d2;
  border-right: 1px solid #4299d2;
}
.link a {
  color: #fefefe;
  text-decoration: none;
}
.link {
  display: inline-block;
}
.link:hover a {
  color: #feffff;
  text-decoration: underline;
}
.icon {
  vertical-align: text-bottom;
}
/*main*/
main {
  background-image: url(../img/backgr1.png);
  background-size: cover;
  min-height: 613px;
  text-align: center;
}
.my-form {
  background-color: rgba(0, 0, 0, 0.63);
  display: inline-block;
  font-size: 14px;
  height: 613px;
  line-height: 14px;
  vertical-align: middle;
  width: 560px;
}
.cadastr {
  border-bottom: 2px solid #bdc6b1;
  color: white;
  font-size: 24px;
  height: 62px;
  line-height: 62px;
  text-align: center;
}
.button-fb {
  padding-top: 36px;
  text-align: center;
}
.reg-form {
  color: #ccc;
  margin: 0 auto;
  width: 275px;
}
.ou-line {
  color: #999;  
  margin: 25px 0;
  padding: 0 0px;
  position: relative;  
  text-align: center;
  width: 275px;
}
.ou-line:before {
  content: "";
  display: block;
  border-top: 1px solid #666;
  border-bottom: 1px solid #000;
  width: 45%;
  height: 0px;
  position: absolute;
  top: 50%;
}
.ou-line:after {
  content: "";
  display: block;
  border-top: 1px solid #666;
  border-bottom: 1px solid #000;
  width: 45%;
  height: 0px;
  position: absolute;
  left: 55%; 
  top: 50%;
}

.reg-form form > input[type=text],
.reg-form form > input[type=email],
.reg-form form > input[type=password] {
  background-color: #0f0e0e;
  border: 0;
  border-bottom: 1px solid #494948;
  box-sizing: border-box;
  color: #ccc;
  height: 35px;
  margin-bottom: 17px;
  padding-left: 17px;
  width: 100%;
}
.reg-form form > input[type=text]:focus,
.reg-form form > input[type=email]:focus,
.reg-form form > input[type=password]:focus {
  background-color: #1b5288;
  border: 0;
  border-bottom: 1px solid #689bcc;
  box-shadow: 0px 0px 3px 2px rgba(105,155,205,1);  
  color: #fffbfb;
}
input:focus::-webkit-input-placeholder {color: #fffbfb;}
input:focus::-moz-placeholder          {color: #fffbfb;}
input:focus:-moz-placeholder           {color: #fffbfb;}
input:focus:-ms-input-placeholder      {color: #fffbfb;}
/*.reg-form form > input[type=text]:hover,
.reg-form form > input[type=email]:hover,
.reg-form form > input[type=password]:hover {
  background-color: #1b5288;
  border: 0;
  border-bottom: 1px solid #689bcc;
}*/
input:hover::-webkit-input-placeholder {color: #fffbfb;}
input:hover::-moz-placeholder          {color: #fffbfb;}
input:hover:-moz-placeholder           {color: #fffbfb;}
input:hover:-ms-input-placeholder      {color: #fffbfb;}
.reg-form form  {
  text-align: center;
}
.reg-form form > input[type=submit] {
  background: linear-gradient(to bottom, #50aedb, #2e7ac4);
  border: none;
  border-radius: 3px;
  color: #fff;
  height: 37px;
  margin: 18px 0;
  width: 151px;
}
.reg-form form > input[type=submit]:hover {
  background-color: #2e7ac4; 
  cursor: pointer;
}
.reg-form form > input[type=submit]:focus {
  background-color: #2e7ac4; 
  cursor: pointer;
}
.reg-form p {
  font-size: 11px;
  text-align: center;
  margin-left: -18px;
  width: 311px;
}